<h1>Create a new Song!</h1>

<form action="/songs" method="post">
  <label>Song Name</label>
  <input type="text" name="name"/>

  <label>Artist Name</label>
  <input type="text" name="artist_name"/>
  <input type="submit" />
</form>
